%section.section--center.mdl-grid.mdl-grid--no-spacing
  .auth-card-wide.mdl-card.mdl-shadow--2dp
    .mdl-card__title
      = image_tag "cerrada-del-oro-white.png", class: 'top-logo'
    .mdl-card__supporting-text
      - if alert || notice
        .mdl-grid
          .mdl-cell.mdl-cell--12-col
            .notice= notice
            .notice= alert
            = devise_error_messages!
            = f.hidden_field :reset_password_token

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        .mdl-grid
          .mdl-cell.mdl-cell--12-col
            .mdl-textfield.mdl-js-textfield
              = f.password_field :password, autofocus: true, autocomplete: "off", class: "mdl-textfield__input"
              = f.label :password, "Nueva Contrase침a", class: "mdl-textfield__label"
            %br/
            .mdl-textfield.mdl-js-textfield
              = f.password_field :password_confirmation, autocomplete: "off", class: "mdl-textfield__input"
              = f.label :password_confirmation, "Confirmaci칩n Nueva Contrase침a", class: "mdl-textfield__label"

        .mdl-grid
          .mdl-cell.mdl-cell--12-col
            = f.submit "Cambiar Contrase침a", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"

    .mdl-card__actions.mdl-card--border
      = render "devise/shared/links"
