

%section.section--center.mdl-grid.mdl-grid--no-spacing
  .auth-card-wide.mdl-card.mdl-shadow--2dp
    .mdl-card__title
      = image_tag "cerrada-del-oro-white.png", class: 'top-logo'
    .mdl-card__supporting-text
      - if alert || notice
        .mdl-grid
          .mdl-cell.mdl-cell--12-col
            .notice= notice
            .notice= alert

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .mdl-grid
          .mdl-cell.mdl-cell--12-col
            .mdl-textfield.mdl-js-textfield
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "mdl-textfield__input"
              = f.label :email, class: "mdl-textfield__label"
            %br/
            .mdl-textfield.mdl-js-textfield
              = f.password_field :password, autocomplete: "off", class: "mdl-textfield__input"
              = f.label :password, class: "mdl-textfield__label"

          .mdl-cell.mdl-cell--12-col
            - if devise_mapping.rememberable?
              %label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect{ for: "user_remember_me" }
                = f.check_box :remember_me, class: "mdl-checkbox__input"
                %span.mdl-checkbox__label Recuerdame
        .mdl-grid
          .mdl-cell.mdl-cell--12-col
            = f.submit "Iniciar Sesión", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"

    .mdl-card__actions.mdl-card--border
      = render "devise/shared/links"
